@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Nunito:wght@400;600;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --main-bg-color: #f7f7f7;
    --main-font-color: #424140;
    --second-bg-color: #fff;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem 0 1.5rem 0;
}

header img {
    width: 15%;
    margin-bottom: 1.5rem;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin: 0 1.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

h1,
h2 {
    font-family: 'DM Serif Text', serif;
}

h4 {
    font-weight: 700;
}

h5 {
    font-family: 'Merriweather', serif;
}

h6 {
    margin: 0;
}

p {
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.articleBgImg {
    height: 22rem;
    background-image: url('chocolate.jpg');
    background-position: center;
    background-size: cover;
}

article {
    position: relative;
    top: -10rem;
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 2rem 3rem;
    background-color: var(--main-bg-color);
}

.articleHeader {
    text-align: center;
    margin-bottom: 4rem;
}

hr {
    margin-top: 4rem;
    width: 10%;
    display: none;
}

.firstP {
    font-weight: 600;
}

.recipeImgContainer {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

.recipeImg {
    width: 80%;
}

section {
    background-color: var(--second-bg-color);
    padding: 1rem 3rem 3rem 3rem
}

.ingredients {
    list-style-type: none;
    padding: 0;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

footer img {
    width: 7%;
    margin-bottom: 0.5rem;
}



@media only screen and (max-width: 600px) {
    hr {
        display: block;
    }
    nav{
        display: none;
    }
  }