@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Nunito:wght@400;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 250, 244);
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem 0 1.5rem 0;
}

header img {
    width: 15%;
    margin-bottom: 1.5rem;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    font-size: 0.8rem;
    margin: 0 1.5rem;
}

h1,
h2 {
    font-family: 'DM Serif Text', serif;
}

h4 {
    font-weight: 700;
}

p {
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.articleImg {
    height: 22rem;
    background-image: url('chocolate.jpg');
    background-size: cover;
}

.positioned {
    position: relative;
    top: -10rem;
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 2rem 3rem;
    background-color: rgb(255, 250, 244);

}

.articleHeader {
    text-align: center;
    margin-bottom: 4rem;
}

.firstP {
    font-weight: 600;
}

.imgContainer {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

.recipeImg {
    width: 70%;
}

.ingredients {
    list-style-type: none;
    padding: 0;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

footer img {
    width: 5%;
    margin-bottom: 0.5rem;
}